{%extends "base_calculadoras.html"%}

    {%block subtitulo%}
                <h2>Herramientas para tu Salud</h2>
    {%endblock%}
    {%block calculadora%}
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">
							<div class="ch-info">
								<a href="#"><h3>Método Rápido</h3></a>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info">
								<a href="/calculadors/calculadora_harris_benedict/"><h3>Método Harris-Benedict</h3></a>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info">
								<a href="#"><h3>Método FAO/OMS/UNU</h3></a>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-4">
							<div class="ch-info">
								<a href="#"><h3>Método Katch-McArdle</h3></a>
							</div>
						</div>
					</li>
				</ul>
     {%endblock%}