body{
	margin: 0px;
    padding: 0px;
}

#izquierdo{	
	background: black;
	color: white;
	margin: 0px;
    padding: 0px;
    min-height: 600px;
    height: 100%;
    width: 187px;
    z-index: 101;
}

#cabecera{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	font-family: arial;
}


#centro{
	margin-top: 75px;	
}

#abajo{
	margin-top: 200px;
}
a{
	font-size:20px;
	font-family: algerian;
	font-style: italic;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

#menu{
	border-radius: 15px;
	margin: 5px auto;
	text-align: center;
	height: 40px;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li{
	background: rgba(0,0,0,1);
	display: inline-block;
    padding: 5px;
    /*border: 1px outset rgba(255,255,255,0.5);
    color: white;*/
    width: 220px;
    position: relative;
    cursor: pointer;
    margin: 0px;
	font-size:20px;
	font-family: algerian;
	font-style: italic;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

li:hover{
	background: rgba(255,255,255,0.3);
	color: black;
	font-size: 25px;
	width: 220px;
	border-radius: 15px;
	box-shadow: 5px 5px 8px rgba(255,255,255,0.1);
}

#slider_container_2 { 
	float: left;
	margin: 0px; 
	padding: 0px; 
	width: 1100px; 
	background: url(/static/img/bg.png) no-repeat 0 0;
}

.SliderName_2 {
	float: left;
	width: 1100px;
	height: 600px;
	overflow: hidden;
}

.SliderNamePrev_2 {
	background: url(/static/img/left.png) no-repeat left center;
	width: 50px;
	height: 800px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.SliderNameNext_2 {
	background: url(/static/img/right.png) no-repeat right center;
	width: 50px;
	height: 800px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

.SliderName_2Description {
	padding: 10px;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 3px #000000;
}

#SliderNameNavigation_2 { 
	margin: 0; 
	padding: 10px 0 0 0; 
	height: 16px; 
	text-align: center; 
	overflow-y: hidden; 
}

#SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
}

#SliderNameNavigation_2 a img{
	border: none;
	width: 16px;
	height: 16px;
	background: url(/static/img/bullet.png) no-repeat center center;
}

#SliderNameNavigation_2 a.active img{
	background: url(/static/img/bullet_active.png) no-repeat center center;
}