{%extends "base.html"%}

{%block contenido%}

    <div id="cabecera">

    {%block reportes%}
       

    {%endblock%}
    
    </div>
    <!-- MENU -->       
        <div class="row">
            <div class="small-12 columns small-centered text-center sticky">
                <nav id="menu-navigation">
                    <ul>
                        <li>
                            <a href="/salir/">
                            <div class="icon-home2"></div>
                            <div class="menu-item">
                                <span class="item-hide">Salir</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/reporte/reporte_clientes/">
                            <div class="icon-user2"></div>
                            <div class="menu-item">
                                <span class="item-hide">Clientes</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/reporte/reporte_profesionales/">
                            <div class="icon-users"></div>
                            <div class="menu-item">
                                <span class="item-hide">Profesionales</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/reporte/maquinas/">
                            <div class="icon-users"></div>
                            <div class="menu-item">
                                <span class="item-hide">maquinas</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/reporte/modalidades/">
                            <div class="icon-users"></div>
                            <div class="menu-item">
                                <span class="item-hide">modalidades</span>
                            </div>
                            </a>
                        </li>                        
                        <li>
                            <a href="/salir/">
                            <div class="icon-home2"></div>
                            <div class="menu-item">
                                <span class="item-hide">Salir</span>
                            </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
{%endblock%}

