{%extends "base.html"%}

{%block contenido%}

    <div id="cabecera">

    {%block dietas%}
       

    {%endblock%}
    
    </div>
    <!-- MENU -->     
        <div class="row">
            <div class="small-12 columns small-centered text-center sticky">
                <nav id="menu-navigation">
                    <ul>
                        <li>
                            <a href="/index_admin/">
                            <div class="icon-arrow-left3"></div>
                            <div class="menu-item">
                                <span class="item-hide">ATRAS</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/dietas/dietas/">
                            <div class="icon-users"></div>
                            <div class="menu-item">
                                <span class="item-hide">dietas</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/dietas/registrar_dieta/">
                            <div class="icon-finder"></div>
                            <div class="menu-item">
                                <span class="item-hide">REGISTRAR</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/dietas/buscar_dieta/">
                        <div class="icon-spinner3"></div>
                            <div class="menu-item">
                                <span class="item-hide">BUSCAR</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/dietas/listar_dietas/">
                            <div class=" icon-settings "></div>
                            <div class="menu-item">
                                <span class="item-hide">LISTAR</span>
                            </div>
                            </a>
                        </li>                        
                        <li>
                            <a href="/salir/">
                            <div class="icon-home2"></div>
                            <div class="menu-item">
                                <span class="item-hide">Salir</span>
                            </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
{%endblock%}

