{%extends "base.html"%}

{%block contenido%}
<!-- INTRO -->
       <!-- LOGIN -->
        <!--<div id="login">
            <form action="" method="post">
                <h2 id="titulologin">Bienvenido Admin</h2>
            </form>
            
        </div>-->
    <div id="cabecera">
       <div id="intro" class="row">            
        <!-- BANNER -->
            <div class="small-12 columns text-center title">
                <div class="fixed-title">
                    <div class="intro-info">
                        <img src="/static/img/logo.png" alt="" />
                        <h1>FitWEB</h1>
                        <div class="lines lines-center"></div>
                        <h2>Administrador</h2>
                    </div>
                </div>  
                <a href="#services">
                    <div class="arrow-up"></div>
                </a>    
            </div>
        </div>
    </div>
    <!-- MENU -->       
        <div class="row">
            <div class="small-12 columns small-centered text-center sticky">
                <nav id="menu-navigation">
                    <ul>
                        <li>
                            <a href="/cliente/clientes/">
                            <div class="icon-users"></div>
                            <div class="menu-item">
                                <span class="item-hide">CLIENTES</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/profesional/profesionales/">
                            <div class="icon-finder"></div>
                            <div class="menu-item">
                                <span class="item-hide">PROFESIONALES</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/maquina/maquinas/">
                            <div class="icon-spinner3"></div>
                            <div class="menu-item">
                                <span class="item-hide">MAQUINAS</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/modalidad/modalidades/">
                            <div class=" icon-settings "></div>
                            <div class="menu-item">
                                <span class="item-hide">MODALIDADES</span>
                            </div>
                            </a>
                        </li>  
                        <li>
                            <a href="/alimento/alimentos/">
                            <div class=" icon-food "></div>
                            <div class="menu-item">
                                <span class="item-hide">ALIMENTOS</span>
                            </div>
                            </a>
                        </li>  
                        <li>
                            <a href="/dietas/dietas/">
                            <div class=" icon-leaf "></div>
                            <div class="menu-item">
                                <span class="item-hide">DIETAS</span>
                            </div>
                            </a>
                        </li>                        
                        <li>    
                            <a href="/reporte/reportes/">
                            <div class="icon-newspaper"></div>
                            <div class="menu-item">
                                <span class="item-hide">REPORTES</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="/salir/">
                            <div class="icon-home2"></div>
                            <div class="menu-item">
                                <span class="item-hide">Salir</span>
                            </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
{%endblock%}