{%extends "base_user.html"%}

{%block usuario%}
    
    <!-- INTRO -->
    <div id="cabecera">
       <!-- LOGIN -->
        <div id="login">
            <form action="" method="post">
                {% if user.is_authenticated %}
                     <h2 id="titulologin">Bienvenido: <label id="user_label" style="text-transform:uppercase">{{user.first_name}} {{user.last_name}}</label></h2>
                     <img src="/media/{{persona.imagen.url_48x48}}" id="imagen_user">
                {% else %}
                    no user
                {% endif %}
            </form>
        </div>
       <div id="intro" class="row">            
        <!-- BANNER -->
            <div class="small-12 columns text-center title">
                <div class="fixed-title">
                    <div class="intro-info">
                        <img src="/static/img/logo.png" alt="" />
                        <h1>FitWEB</h1>
                        <div class="lines lines-center"></div>
                        <h2>Dieta&nutricioN</h2>
                    </div>
                </div>  
                <a href="#services">
                    <div class="arrow-up"></div>
                </a>    
            </div>
        </div>
    </div>

{%endblock%}