{%extends "base_user.html"%}

{%block usuario%}
    
    <!-- INTRO -->
    <div id="cabecera">
       <!-- LOGIN -->
        <div id="login">
            <form action="" method="post">
                <h2 id="titulologin">Bienvenido:</h2>
            </form>
        </div>
       <div id="intro" class="row">            
        <!-- BANNER -->
            <div class="small-12 columns text-center title">
                <div class="fixed-title">
                    <div class="intro-info">
                        <img src="/static/img/logo.png" alt="" />
                        <h1>FitWEB</h1>
                        <div class="lines lines-center"></div>
                        <h2>Dieta&nutricioN</h2>
                    </div>
                </div>  
                <a href="#services">
                    <div class="arrow-up"></div>
                </a>    
            </div>
        </div>
    </div>

{%endblock%}