{%extends "base1.html"%}

{%block cliente%}

<div class="wrapper">
	<div class="form" id="formulario">		
		<div >

		<form>
		<h2> Lista clientes</h2>
		<table id="tabla_cliente">
			<tr>
				<th>USER</th>
				<th>NOMBRE</th>
				<th>APELLIDO</th>
                <th></th>
			</tr>

			{%for item in lista2%}
			<tr>
				<td> {{item.username}} </td>
				<td> {{item.first_name}} </td>
				<td> {{item.last_name}} </td>
                <td><a href="/cliente/modificar/{{item.id}}/">Modificar</a></td>
			</tr>
			{%endfor%}
			
		</table>
		
		</form>
		</div>
	</div>
</div>

{%endblock%}

